<input [(ngModel)]="searchword" placeholder="name" />
<button (click)="onSearch()">Search</button>
<select [(ngModel)]="searchdt">
  <option value="2019">2019</option>
  <option value="2018">2018</option>
  <option value="2017">2017</option>
  <option value="2016">2016</option>
  <option value="2015">2015</option>
  <option value="2014">2014</option>
  <option value="2013">2013</option>
  <option value="2012">2012</option>
  <option value="2011">2011</option>
  <option value="2010">2010</option>
</select>
<button (click)="onSearchDT()">Search</button>
<div>
  <ul>
    <li *ngFor="let item_twat of twat; let i = index">
      <span>{{i+1}}</span>
      <p [innerHTML]="item_twat.text"></p>
      <p>
        like:{{item_twat.likes}}
        date:{{item_twat.date | date:'yyyy-MM-dd HH:mm:ss'}}
      </p>
    </li>
  </ul>
</div>
