div {
  width: 500px;
  margin: 10px
}

ol {
  color: #ccc;
  list-style-type: none;
}

  ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 20px;
  }

li p {
  font: 15px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}

span {
  position: absolute;
}

li:hover {
  background: #eee;
  cursor: pointer;
} 
